<script>
  import { AppShell } from '@skeletonlabs/skeleton';

  import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
  // This contains the bulk of Skeletons required styles:
  import '@skeletonlabs/skeleton/styles/all.css';

  import '../app.postcss';
</script>

<AppShell>
  <slot />
</AppShell>
