<script lang="ts">
  import { Icon, AcademicCap } from 'svelte-hero-icons';
</script>

<div class="container mx-auto flex flex-grow flex-col gap-3 px-5 py-24">
  <section class="body-font">
    <div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
      <h2 class="title-font mb-2 text-2xl font-medium sm:text-3xl">
        Welcome to wonderfull world of Dédé Project
      </h2>
      <p class="w-full leading-relaxed lg:w-1/2">
        Game for fucking crazy people!!
      </p>
    </div>
    <a
      class="bg-initial card card-hover flex flex-wrap p-4 md:w-1/2 xl:w-1/3"
      href="/kujira-miam"
    >
      <div class="card-header flex items-center p-0">
        <div
          class="inline-flex h-10 w-10 items-center justify-center rounded-full"
        >
          <Icon
            src={AcademicCap}
            class="h-6 w-6"
          />
        </div>
        <h5 class="title-font text-lg font-medium">Kujira Miam</h5>
      </div>
      <p class="text-base leading-relaxed">
        Identifier un son parmi plusieurs autres, le plus rapidement possible.
      </p>
    </a>
  </section>
</div>
