<script lang="ts">
  import uniq from 'lodash/uniq';

  import { formatDuration } from '$lib/technical/format-duration';

  import type { SettingsDurations } from './types';

  export let target: string;
  export let sounds: string[] = [];
  export let reward: string;
  export let breaks: number[];
  export let durations: SettingsDurations;

  $: totalDuration = breaks.reduce(
    (acc, v) => acc + v,
    durations.sound * sounds.length
  );
</script>

<h6 class="text-center">Configuration</h6>
<dl class="list-dl pl-2">
  <div>
    <span class="flex gap-1">
      <dd>Cible</dd>
      <dt class="font-bold">
        {target}
      </dt>
    </span>
  </div>
  <div>
    <span class="flex gap-1">
      <dd>Bruits</dd>
      <dt class="flex flex-wrap gap-1 font-bold">
        {#each uniq(sounds).sort() as sound}
          <span class="badge variant-filled-surface">{sound}</span>
        {/each}
      </dt>
    </span>
  </div>
  <div>
    <span class="flex gap-1">
      <dd>Récompense</dd>
      <dt class="font-bold">
        <span
          class="inline-block h-7 w-7 rounded bg-cover bg-center bg-no-repeat"
          style={`background-image: url(${reward});`}
        />
      </dt>
    </span>
  </div>
  <div>
    <span class="flex gap-1">
      <dd>Durée des sons</dd>
      <dt class="font-bold">{durations.sound} sec</dt>
    </span>
  </div>
  <div>
    <span class="flex gap-1">
      <dd>Pause entre les sons</dd>
      <dt class="font-bold">
        {durations.break.min} - {durations.break.max} sec
      </dt>
    </span>
  </div>
  <div>
    <span class="flex gap-1">
      <dd>Avant le lancement</dd>
      <dt class="font-bold">{durations.countdown} sec</dt>
    </span>
  </div>

  <div>
    <span class="flex gap-1">
      <dd>Durée total</dd>
      <dt class="font-bold">
        {formatDuration(totalDuration * 1000)}
      </dt>
    </span>
  </div>
</dl>

<style>
  dd:after {
    content: ' : ';
  }
</style>
