<div>
  <h3>Kujira miam</h3>
  <p>Identifier un son parmi plusieurs autres, le plus rapidement possible.</p>
  <p>
    Pour cela, il suffit d'écouter attentivement les sons qui sont joués et de
    presser la touche espace dès que vous entendez le son "cible".
  </p>
</div>
