<script lang="ts">
  import uniq from 'lodash/uniq';
  import { onMount, createEventDispatcher } from 'svelte';
  import { Icon, XMark } from 'svelte-hero-icons';

  import { dev } from '$app/environment';

  import Audio from '$lib/atoms/audio/Audio.svelte';
  import Countdown from '$lib/atoms/countdown/Countdown.svelte';
  import EventToast from '$lib/atoms/event-toast/EventToast.svelte';

  import GameReward from './GameReward.svelte';
  import { getSoundURL } from './getSoundURL';
  import { ActionTypes } from './types';

  import type { EActionType, Game, TResult } from './types';

  const dispatch = createEventDispatcher();

  export let game: Game;

  const { durations, breaks, target, reward, sounds } = game;

  const start = new Date();
  const actions: TResult = [];

  let nbSuccess = 0;
  let alreadyFound = false;
  let currentIndex = -1;
  let currentSound: string | undefined = undefined;
  let currentTime: number;
  let breakStartTime: number | undefined;
  let events: boolean[] = [];

  $: nbTargets = sounds.filter((v) => v === target).length;
  $: nbOverlays = nbTargets + (nbTargets % 2);
  $: soundsToPreload = uniq(sounds).map(getSoundURL);

  function addAction(type: EActionType) {
    const breakDuration =
      currentSound === undefined && breakStartTime
        ? (new Date().getTime() - breakStartTime) / 1000
        : 0;

    const action = {
      gameTime: new Date().getTime() - start.getTime(),
      type,
      sound: sounds[currentIndex],
      soundTime: (currentTime || 0) + breakDuration
    };

    if (dev) {
      // eslint-disable-next-line no-console
      console.info('action', action, {
        currentTime,
        breakDuration
      });
    }

    actions.push(action);
  }

  function sendResult() {
    dispatch('end', actions);
  }

  function nextSound() {
    // stop current sound
    setTimeout(() => {
      addAction(ActionTypes.END);
      breakStartTime = new Date().getTime();
      currentSound = undefined;
    }, durations.sound * 1000);

    alreadyFound = false;
    breakStartTime = 0;
    currentIndex = currentIndex + 1;
    if (currentIndex === sounds.length) {
      sendResult();
      return;
    }
    currentSound = getSoundURL(sounds[currentIndex]);
    addAction(ActionTypes.START);

    // launch next sound
    setTimeout(
      () => {
        nextSound();
      },
      (durations.sound + (currentIndex in breaks ? breaks[currentIndex] : 0)) *
        1000
    );
  }

  function userAction(success: boolean) {
    events = [...events, success];
    addAction(success ? ActionTypes.SUCCESS : ActionTypes.ERROR);
  }

  function onClose() {
    dispatch('cancel');
  }

  function onKeyDown(e: KeyboardEvent) {
    if (e.key !== ' ') {
      return false;
    }

    if (
      alreadyFound ||
      currentSound === undefined ||
      sounds[currentIndex] !== target
    ) {
      userAction(false);
      return;
    }

    userAction(true);
    alreadyFound = true;
    nbSuccess = nbSuccess + 1;
  }

  onMount(() => {
    setTimeout(() => {
      nextSound();
    }, durations.countdown * 1000);
  });
</script>

<svelte:window on:keydown={onKeyDown} />

<Countdown value={durations.countdown}>
  <div class="game">
    <GameReward
      {reward}
      {nbOverlays}
      {nbSuccess}
    />
    <div class="hidden">
      {#if currentSound}
        <Audio
          src={currentSound}
          autoplay
          loop
          bind:currentTime
        />
      {/if}
      {#each soundsToPreload as src}
        <Audio
          {src}
          preload="auto"
        />
      {/each}
    </div>

    <div class="absolute bottom-0 left-2/4">
      <div class="relative">
        {#each events as success}
          <EventToast {success} />
        {/each}
      </div>
    </div>

    <div class="absolute right-0 top-0 p-3">
      <button
        type="button"
        class="btn btn-sm text-surface-300 hover:variant-filled"
        on:click={onClose}
      >
        <Icon
          src={XMark}
          mini
          class="h-3 w-3"
        />
      </button>
    </div>
  </div>
</Countdown>

<style>
  .game {
    width: 100%;
    height: 100vh;
    background-color: #c3c3cd;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .hidden {
    display: none;
  }
</style>
