<script lang="ts">
  import { arrayRandomize } from '$lib/technical/array-randomize';

  export let reward: string;
  export let nbOverlays: number;
  export let nbSuccess: number;

  let overlays = Array(nbOverlays).fill(false);

  function generateOverlays(args: { nbSuccess: number }) {
    const nbSucceed = args.nbSuccess;
    const hiddenKeys: number[] = overlays.reduce((acc, isDisplay, index) => {
      if (!isDisplay) {
        return [...acc, index];
      }
      return acc;
    }, []);

    const nbDisplayed = nbOverlays - hiddenKeys.length;
    if (nbDisplayed === nbSucceed) {
      return overlays;
    }
    const nbToDisplayed = nbSucceed - nbDisplayed;

    arrayRandomize(hiddenKeys)
      .slice(0, nbToDisplayed)
      .forEach((index: number) => {
        overlays[index] = true;
      });

    return overlays;
  }

  $: overlaysDisplayed = generateOverlays({ nbSuccess });
</script>

<div class="result">
  <img
    src={reward}
    alt="reward"
  />
  <div
    class="overlay"
    style={`grid-template-columns: repeat(${nbOverlays / 2}, 1fr);`}
  >
    {#each overlaysDisplayed as success}
      <span class:success />
    {/each}
  </div>
</div>

<style>
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .overlay > span {
    background-color: #c3c3cd;
  }

  .overlay > span.success {
    visibility: hidden;
  }

  .result {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
