<script lang="ts">
  import { Icon } from 'svelte-hero-icons';

  import { ActionTypes } from './types';

  import type { IHistoryAction } from './types';

  export let actions: IHistoryAction[] = [];
</script>

{#each actions as { icon, events, ...action }}
  <div class="group relative flex flex-col">
    <div class="flex">
      <div
        class="absolute inset-0 flex h-full w-6 items-center justify-center group-last:hidden"
      >
        <div class="pointer-events-none h-full w-1 bg-surface-300" />
      </div>
      <div
        class={`${icon.color} relative z-10 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full text-white`}
      >
        <Icon
          src={icon.src}
          class="h-3 w-3"
        />
      </div>
      <div class="flex flex-grow flex-col pl-2">
        <div class="flex items-center">
          <div class="relative text-sm text-gray-500">
            {action.time}
          </div>
          {#if action.type === ActionTypes.START}
            <p
              class="ml-3 flex leading-relaxed"
              class:font-bold={action.isTarget}
              class:text-success-500={action.isTarget}
            >
              {action.sound}
            </p>
          {/if}
        </div>

        <ol class="event-list p-4">
          {#each events as event}
            <li class="feed-item relative pb-5 pl-3 last:pb-0">
              <span class="relative block text-sm">
                {event.time}
              </span>
              <span class={`${event.icon.color} icon`}>
                <Icon
                  src={event.icon.src}
                  class="h-3 w-3 text-white"
                />
              </span>
            </li>
          {/each}
        </ol>
      </div>
    </div>
  </div>
{/each}

<style lang="postcss">
  .feed-item .icon {
    left: -11px;
    top: 3px;
    @apply absolute block inline-flex h-4 w-4 items-center justify-center rounded-full;
  }

  .event-list {
    margin-left: -2.05em;
  }
</style>
