<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { Icon, ExclamationTriangle } from 'svelte-hero-icons';

  const dispatch = createEventDispatcher<{ load: boolean }>();

  interface $$Props {
    class?: string;
    src: string;
  }
  export let src: string;

  let isError = false;

  function handleError() {
    isError = true;
    dispatch('load', false);
  }

  function handleLoad() {
    isError = false;
    dispatch('load', true);
  }
</script>

<div
  class={`flex h-16 w-16 justify-center rounded border bg-cover bg-center bg-no-repeat ${$$restProps.class}`}
  class:border-surface-200={!isError}
  class:border-error-400={isError}
  style={`background-image: url(${src});`}
>
  {#if isError}
    <span class="flex flex-col items-center justify-center pt-2 text-error-400">
      <Icon
        src={ExclamationTriangle}
        class="h-8 w-8 text-error-400"
      />
      <small class="text-xs">url invalide</small>
    </span>
  {/if}
  <img
    {src}
    on:error={handleError}
    on:load={handleLoad}
    alt="checker"
  />
</div>

<style>
  img {
    visibility: hidden;
    height: 0;
    width: 0;
  }
</style>
