<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import Game from './Game.svelte';
  import Result from './Result.svelte';
  import Settings from './Settings.svelte';

  import type { TResult, Game as GameType } from './types';

  const dispatch = createEventDispatcher();

  export let game: GameType | undefined = undefined;
  export let result: TResult | undefined = undefined;

  function onRestart() {
    result = undefined;
  }

  function onReset() {
    result = undefined;
    game = undefined;
  }

  function onCancel() {
    game = undefined;
  }

  const onEnd = ({ detail }: CustomEvent<TResult>) => {
    result = detail;
    dispatch('end', { game, result });
  };

  const onStart = ({ detail }: CustomEvent<GameType>) => {
    game = detail;
  };
</script>

{#if !game}
  <Settings on:start={onStart} />
{:else if result}
  <Result
    {game}
    {result}
    on:restart={onRestart}
    on:reset={onReset}
  />
{:else}
  <Game
    {game}
    on:end={onEnd}
    on:cancel={onCancel}
  />
{/if}
