<script lang="ts">
  import round from 'lodash/round.js';
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import {
    Icon,
    Check,
    XMark,
    Play,
    Stop,
    ChevronDown,
    ChevronUp
  } from 'svelte-hero-icons';

  import { formatDuration } from '$lib/technical/format-duration';

  import Configuration from './Configuration.svelte';
  import GameSummary from './GameSummary.svelte';
  import { ActionTypes } from './types';

  import type { TResult, Game, IEventIcon, IHistoryAction } from './types';

  const dispatch = createEventDispatcher();

  const actionsIcon: Record<string, IEventIcon> = {
    [ActionTypes.START]: { src: Play, color: 'bg-warning-500' },
    [ActionTypes.END]: { src: Stop, color: 'bg-gray-400' },
    [ActionTypes.SUCCESS]: { src: Check, color: 'bg-success-500' },
    [ActionTypes.ERROR]: { src: XMark, color: 'bg-error-500' }
  };

  export let result: TResult;
  export let game: Game;

  let detailOpen = false;

  function toggleDetail() {
    detailOpen = !detailOpen;
  }

  function displaySpeedTime(time: number) {
    return Math.floor(time * 100) / 100 + 's';
  }

  function onRestart() {
    dispatch('restart');
  }

  function onReset() {
    dispatch('reset');
  }

  function extractSoundName(sound: string): string {
    return sound.replace(/^.+\/([^/]+).mp3/, '$1');
  }

  function parse(actions: TResult) {
    const nbTarget = game.sounds.filter((v) => v === game.target).length;
    const output = actions.reduce<{
      speed: number[];
      success: number;
      error: number;
      actions: IHistoryAction[];
    }>(
      (o, action) => {
        const isTarget = game.target === action.sound;
        switch (action.type) {
          case ActionTypes.START:
          // eslint-disable-next-line no-fallthrough
          case ActionTypes.END:
            if (!action.sound) {
              return o;
            }

            o.actions.push({
              isTarget,
              type: action.type,
              icon: {
                ...actionsIcon[action.type],
                ...(isTarget && action.type === ActionTypes.START
                  ? { color: 'bg-success-500' }
                  : {})
              },
              time: formatDuration(action.gameTime),
              sound: extractSoundName(action.sound),
              events: []
            });
            break;

          default:
            // eslint-disable-next-line no-case-declarations
            const lastIndex = o.actions.length - 1;
            if (lastIndex < 0) {
              break;
            }
            if (action.type === ActionTypes.SUCCESS) {
              o.success++;
              o.speed.push(action.soundTime);
            } else {
              o.error++;
            }

            o.actions[lastIndex].events.push({
              icon: actionsIcon[action.type],
              time: displaySpeedTime(action.soundTime)
            });

            break;
        }
        return o;
      },
      {
        success: 0,
        error: 0,
        speed: [],
        actions: []
      }
    );

    const perf = round(
      (output.success /
        (output.success + output.error + (nbTarget - output.success))) *
        100,
      0
    );

    const details: Record<string, string | number>[] = [
      {
        label: 'Exactitude',
        value: output.success + ' / ' + nbTarget
      },
      {
        label: 'Commissions',
        value: output.error
      }
    ];

    if (output.speed?.length) {
      details.push({
        label: 'Vitesse',
        value: output.speed.map(displaySpeedTime).join(', ')
      });

      if (output.speed.length > 1) {
        details.push({
          label: 'Moyenne',
          value: displaySpeedTime(
            output.speed.reduce((o, v) => o + v, 0) / output.speed.length
          )
        });
      }
    }

    return {
      details,
      perf,
      actions: output.actions
    };
  }

  $: stats = parse(result);
</script>

<div class="container mx-auto px-5 py-12">
  <h3
    class="title-font mb-10 text-center text-2xl font-medium text-gray-900 sm:text-3xl"
  >
    Résultats
  </h3>
  <div class="mx-auto w-full max-w-sm">
    {#each stats.details as { label, value }}
      <div class="mb-6 md:flex md:items-center">
        <div
          class="mb-1 block whitespace-nowrap pr-4 font-bold text-gray-500 md:mb-0 md:w-1/3 md:text-right"
        >
          {label} :
        </div>
        <div class="text-gray-500 md:w-2/3">
          {value}
        </div>
      </div>
    {/each}

    <div class="relative pt-1">
      <div class="mb-2 flex items-center justify-between">
        <div
          class="mb-1 block pr-4 font-bold text-gray-500 md:mb-0 md:text-right"
        >
          Performance
        </div>
        <div class="text-right text-gray-500">
          {stats.perf} %
        </div>
      </div>
      <div class="mb-4 flex h-2 overflow-hidden rounded bg-pink-200 text-xs">
        <div
          style={`width:${stats.perf}%`}
          class="flex flex-col justify-center whitespace-nowrap bg-pink-500 text-center text-white shadow-none"
        />
      </div>
    </div>
  </div>

  <!-- détail du jeux -->
  <section class="body-font mx-auto text-gray-600">
    <div class="container flex flex-wrap px-5 pt-12">
      <button
        class="mb-4 w-full text-center"
        on:click={toggleDetail}
      >
        <span class="title-font relative pr-6 text-xl font-medium">
          Détails du jeux
          <Icon
            src={detailOpen ? ChevronUp : ChevronDown}
            class="absolute right-0 top-1 h-5 w-5"
          />
        </span>
      </button>
      <div class="w-full">
        {#if detailOpen}
          <div
            transition:slide
            class="flex w-full flex-col items-center sm:flex-row sm:items-start sm:justify-evenly"
          >
            <div>
              <!-- settings -->
              <Configuration {...game} />
            </div>
            <div>
              <!-- history -->
              <h6 class="mb-1 text-center">Déroulement</h6>
              <GameSummary actions={stats.actions} />
            </div>
          </div>
        {/if}
      </div>
    </div>
  </section>
  <!-- /détail du jeux -->

  <div class="mx-auto mt-16 flex justify-between">
    <a
      href="/"
      class="btn variant-soft-surface"
    >
      home
    </a>

    <button
      type="button"
      class="btn variant-filled-surface"
      on:click={onReset}
    >
      retour aux paramètrages
    </button>

    <button
      type="button"
      class="btn variant-filled-secondary"
      on:click={onRestart}
    >
      Recommencer
    </button>
  </div>
</div>
