<script lang="ts">
  import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';
  import { Icon, CheckBadge, XCircle, PauseCircle } from 'svelte-hero-icons';

  import Configuration from './Configuration.svelte';

  import type { SettingsDurations } from './types';

  export let sounds: string[] = [];
  export let target: string;
  export let reward: string;
  export let breaks: number[];
  export let durations: SettingsDurations;
</script>

<div class="flex flex-col gap-3 pb-3 pl-2">
  <div class="flex-1 text-left">
    <Configuration
      {breaks}
      {target}
      {sounds}
      {reward}
      {durations}
    />
  </div>

  <Accordion>
    <AccordionItem>
      <svelte:fragment slot="summary">
        <h6 class="text-center">Déroulement de la partie</h6></svelte:fragment
      >
      <svelte:fragment slot="content">
        <ul class="list flex-1 pl-2">
          {#each sounds as sound, index}
            <li>
              <span class="h-10 w-10 p-1">
                <Icon
                  class={`${
                    sound === target ? 'text-success-500' : 'text-warning-500'
                  }`}
                  src={sound === target ? CheckBadge : XCircle}
                />
              </span>
              <span class="flex-auto">{sound}</span>
            </li>
            {#if breaks[index]}
              <li class="break text-surface-400">
                <span class="ml-5 h-7 w-7 p-1">
                  <Icon src={PauseCircle} />
                </span>
                <span class="ml-1 flex-auto">{breaks[index]} sec</span>
              </li>
            {/if}
          {/each}
        </ul>
      </svelte:fragment>
    </AccordionItem>
  </Accordion>
</div>

<style>
  .list .break {
    margin: 0;
  }
  .list .break span:last-child {
    margin-left: 0.2rem;
  }
</style>
