<script lang="ts">
  import {
    Accordion,
    AccordionItem,
    Step,
    Stepper
  } from '@skeletonlabs/skeleton';
  import get from 'lodash/get';
  import { createEventDispatcher } from 'svelte';

  import LabelContainer from '$lib/atoms/label-container/LabelContainer.svelte';

  import Description from './Description.svelte';
  import ImagePreview from './ImagePreview.svelte';
  import SettingsSummary from './SettingsSummary.svelte';
  import SoundPreview from './SoundPreview.svelte';
  import { generateGame } from './generateGame';
  import { getSoundURL } from './getSoundURL';
  import { soundsGroups } from './sounds/constants';

  import type { Game } from './types';

  const dispatch = createEventDispatcher<{ start: Game }>();

  let levelIndex = 0;
  let sounds = soundsGroups[levelIndex].sounds;
  let noises = soundsGroups[levelIndex].sounds;
  let target: string | undefined = undefined;
  let nbSounds = soundsGroups[levelIndex].sounds.length;
  let reward = 'https://dede.pinute.org/pictures/aigle.png';
  let nbTarget = 1;
  let soundDuration = 3;
  let breakDuration = { min: 2, max: 10 };
  let countdown = 3;
  let game: undefined | Game = undefined;
  let errors: Record<string, string> | undefined = undefined;
  let rewardError: string | undefined = undefined;
  let playingSound: string | undefined;

  function onPlayPreviewSound(value: string) {
    playingSound = value;
  }
  function onStopPreviewSound() {
    playingSound = undefined;
  }

  $: ({ game, errors } = generateGame({
    target,
    noises,
    reward,
    nbTarget,
    nbSounds,
    soundDuration,
    breakDuration,
    countdown
  }));

  function handleComplete() {
    dispatch('start', game);
  }

  function handleNext() {
    ({ game, errors } = generateGame({
      target,
      noises,
      reward,
      nbTarget,
      nbSounds,
      soundDuration,
      breakDuration,
      countdown
    }));
  }

  function handleLoadPreview({ detail }: CustomEvent<boolean>) {
    rewardError = detail ? undefined : 'url invalide';
  }

  function onLevelIndexChange(e: { currentTarget: HTMLSelectElement }) {
    const newValue = Number(e.currentTarget.value);
    const values = {
      levelIndex: newValue,
      sounds: soundsGroups[newValue].sounds,
      noises: soundsGroups[newValue].sounds,
      target: soundsGroups[newValue].sounds[0],
      nbSounds: soundsGroups[newValue].sounds.length
    };

    ({ levelIndex, sounds, noises, target, nbSounds } = values);
  }

  $: nbSoundsError = get(errors, 'nbSounds');
  $: breakDurationError = get(errors, 'breakDuration');
</script>

<div class="container mx-auto flex flex-col gap-3 px-5 py-12">
  <Description />
  <Stepper
    on:complete={handleComplete}
    on:next={handleNext}
  >
    <Step
      stepTerm="Configuration"
      buttonNextLabel="Générer la partie"
      locked={game === undefined || !!rewardError}
    >
      <svelte:fragment slot="header">Paramètres</svelte:fragment>
      <div>
        <span>Niveau</span>
        <select
          class="select"
          value={levelIndex}
          on:change={onLevelIndexChange}
        >
          {#each soundsGroups as { title }, index}
            <option value={index}>{title}</option>
          {/each}
        </select>
      </div>

      <div>
        <span class="flex items-center gap-4"
          >Sons <small>({noises.length} / {sounds.length})</small></span
        >
        <div class="flex flex-wrap items-center gap-2">
          {#each sounds as value}
            <label class="flex min-w-40 cursor-pointer items-center space-x-2">
              <input
                class="checkbox"
                type="checkbox"
                name="noises[]"
                bind:group={noises}
                {value}
              />
              <p>{value}</p>
              <SoundPreview
                src={getSoundURL(value)}
                playing={value === playingSound}
                on:play={() => onPlayPreviewSound(value)}
                on:stop={onStopPreviewSound}
              />
            </label>
          {/each}
        </div>
      </div>

      <label class="label">
        <span>Cible</span>
        <select
          class="select"
          bind:value={target}
        >
          {#each noises as value}
            <option {value}>{value}</option>
          {/each}
        </select>
      </label>

      <label class="label flex gap-5">
        <div class="flex flex-1 flex-col">
          <LabelContainer
            label="Récompense"
            error={rewardError}
          >
            <input
              class="input rounded-lg"
              class:input-error={!!rewardError}
              type="url"
              bind:value={reward}
            />
          </LabelContainer>
        </div>

        {#if reward !== '' && reward !== undefined}
          <ImagePreview
            src={reward}
            on:load={handleLoadPreview}
          />
        {/if}
      </label>

      <label class="label">
        <span>Nombre de sons cible</span>
        <input
          type="number"
          min="1"
          class="input rounded-lg"
          bind:value={nbTarget}
        />
      </label>

      <LabelContainer
        label="Nombre de sons"
        error={nbSoundsError}
      >
        <input
          type="number"
          min="2"
          class="input rounded-lg"
          class:input-error={!!nbSoundsError}
          bind:value={nbSounds}
        />
      </LabelContainer>

      <Accordion>
        <AccordionItem>
          <svelte:fragment slot="summary">Paramètres avancés</svelte:fragment>
          <svelte:fragment slot="content">
            <div>
              <label class="label">
                <span>Durée des sons</span>
                <input
                  type="number"
                  class="input rounded-lg"
                  min="1"
                  bind:value={soundDuration}
                />
              </label>

              <LabelContainer
                label="Pause entre les sons"
                error={breakDurationError}
              >
                <div class="flex gap-3">
                  <div
                    class="input-group input-group-divider grid-cols-[auto_1fr_auto] rounded-lg"
                    class:input-error={!!breakDurationError}
                  >
                    <div
                      class="input-group-shim"
                      class:input-error={!!breakDurationError}
                    >
                      min
                    </div>
                    <input
                      type="number"
                      placeholder="Minimum"
                      min="0"
                      bind:value={breakDuration.min}
                    />
                  </div>

                  <div
                    class="input-group input-group-divider grid-cols-[auto_1fr_auto] rounded-lg"
                    class:input-error={!!breakDurationError}
                  >
                    <div
                      class="input-group-shim"
                      class:input-error={!!breakDurationError}
                    >
                      max
                    </div>
                    <input
                      type="number"
                      min="0"
                      placeholder="Maximum"
                      bind:value={breakDuration.max}
                    />
                  </div>
                </div>
              </LabelContainer>

              <label class="label">
                <span>Avant le lancement</span>
                <input
                  type="number"
                  min="0"
                  class="input rounded-lg"
                  bind:value={countdown}
                />
              </label>
            </div>
          </svelte:fragment>
        </AccordionItem>
      </Accordion>
    </Step>
    <Step
      buttonBackLabel="← Configuration"
      buttonCompleteLabel="Lancer la partie"
    >
      <svelte:fragment slot="header"><small>Détails</small></svelte:fragment>
      {#if game !== undefined}
        <SettingsSummary {...game} />
      {/if}
    </Step>
  </Stepper>

  <div class="text-center">
    <a
      href="/"
      class="btn variant-soft-surface"
    >
      Retour à la page d'accueil
    </a>
  </div>
</div>
