<script
  lang="ts"
  noStrictEvents
>
  import { createEventDispatcher } from 'svelte';
  import { Icon, Play, Stop } from 'svelte-hero-icons';

  import Audio from '$lib/atoms/audio/Audio.svelte';

  const dispatch = createEventDispatcher<{
    play: CustomEvent;
    stop: CustomEvent;
  }>();
  export let src: string;
  export let playing = false;

  function togglePlaying() {
    if (playing) {
      return dispatch('stop');
    }

    dispatch('play');
  }
</script>

<div
  class="size-4 cursor-pointer font-bold"
  class:text-tertiary-500={!playing}
  class:text-primary-500={playing}
  on:click|preventDefault={togglePlaying}
  on:keydown|preventDefault={togglePlaying}
>
  {#if playing}
    <Icon src={Stop} />
    <div class="hidden">
      <Audio
        {src}
        autoplay
        on:ended={togglePlaying}
      />
    </div>
  {:else}
    <Icon src={Play} />
  {/if}
</div>
