<script lang="ts">
  import { Icon, Check, XMark } from 'svelte-hero-icons';

  export let success = false;
</script>

<span
  class="event"
  class:text-green-400={success}
  class:text-red-400={!success}
>
  <Icon
    src={success ? Check : XMark}
    class="h-16 w-16"
  />
</span>

<style>
  .event {
    position: absolute;
    bottom: 0;
    opacity: 0;

    animation: toast-pop 1s linear;
  }

  @keyframes toast-pop {
    0% {
      opacity: 0;
      bottom: -5rem;
    }

    25% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      bottom: 10rem;
    }
  }
</style>
