<script lang="ts">
  import { Icon, ChevronDown } from 'svelte-hero-icons';

  import LabelContainer from '$lib/atoms/label-container/LabelContainer.svelte';

  import type { Option } from '$lib/types';

  export let id: string;
  export let name: string | undefined = undefined;
  export let label: string;
  export let value: string | number | undefined = undefined;
  export let values: Array<string | number> = [];
  export let options: Option[] = [];
</script>

<LabelContainer
  {id}
  {label}
>
  <div class="relative">
    <select
      class="block w-full appearance-none rounded border border-gray-200 bg-gray-200 px-4 py-3 pr-7 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
      {id}
      {name}
      bind:value
    >
      {#each values as value}
        <option {value}>{value}</option>
      {/each}

      {#each options as { label, value }}
        <option {value}>{label || value}</option>
      {/each}
    </select>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
    >
      <Icon
        src={ChevronDown}
        class="h-4 w-4 fill-current"
        solid
      />
    </div>
  </div>
</LabelContainer>
