<script lang="ts">
  export let id: string | undefined = undefined;
  export let label: string;
  export let error: string | undefined = undefined;

  $: hasError = error !== undefined;
</script>

<label
  class="label"
  {id}
>
  <span class:text-error-500={hasError}>{label}</span>
  <slot />

  {#if error !== undefined}
    <span class="text-sm text-error-500">{error}</span>
  {/if}
</label>
