<script lang="ts">
  import { onMount } from 'svelte';

  export let value = 3;
  let timer: ReturnType<typeof setInterval> | undefined = undefined;

  onMount(() => {
    timer = setInterval(() => {
      if (value === 0) {
        clearInterval(timer);
        timer = undefined;
      }

      value--;
    }, 1000);
  });
</script>

{#if value >= 0}
  <div
    class="sticky inset-0 flex h-screen w-screen items-center justify-center"
  >
    {#if value > 0}
      <span class="mb-6 animate-ping text-7xl text-gray-500">{value}</span>
    {:else}
      <span class="final mb-6 animate-ping text-7xl text-gray-500">Go</span>
    {/if}
  </div>
{:else}
  <slot />
{/if}

<style>
  .final {
    animation-duration: 1.5s;
  }
</style>
