<script lang="ts">
  export let autoplay = false;
  export let preload = '';
  export let currentTime = 0;
  export let ended = false;
  export let src: string;
  export let loop = false;

  let className = '';
  export { className as class };
</script>

<audio
  {src}
  {autoplay}
  {preload}
  {loop}
  class={className}
  bind:currentTime
  bind:ended
  on:ended
  on:error
  on:play
  on:timeupdate
  controls
>
  <track kind="captions" />
</audio>
