<script lang="ts">
  import LabelContainer from '$lib/atoms/label-container/LabelContainer.svelte';

  export let label: string;
  export let id: string;
  export let name: string | undefined = undefined;
  export let value: string | number;

  const classNames =
    'bg-gray-200 border border-gray-200 text-gray-700 w-auto py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500';
</script>

<LabelContainer
  {label}
  {id}
>
  <input
    class={classNames}
    type="number"
    bind:value
    {id}
    {name}
  />
</LabelContainer>
